<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<!-- meta tags -->
		<meta charset="UTF-8" />

		<title>Restaurant Picker</title>
		<!-- CSS links -->
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="default.css" />
		<link rel="stylesheet" type="text/css" href="component.css" />
		<!-- javascript links -->
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Restaurant Picker<span>where you should eat</span></h1>	
			</header>
			<div class="main clearfix">
				<form id="nl-form" class="nl-form">
					I feel like eating
					<select>
						<option value="1" selected>any food</option>
						<option value="2">Indian</option>
						<option value="3">French</option>
						<option value="4">Japanese</option>
						<option value="2">Italian</option>
					</select>
					<br />in a
					<select>
						<option value="1" selected>standard</option>
						<option value="2">fancy</option>
						<option value="3">hip</option>
						<option value="4">traditional</option>
						<option value="2">romantic</option>
					</select>
					restaurant
					<br />at 
					<select>
						<option value="1" selected>anytime</option>
					 	<option value="1">7 p.m.</option>
					 	<option value="2">8 p.m.</option>
					 	<option value="3">9 p.m.</option>
					</select>
					in <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Find a restaurant</button>
					</div>
					<div class="nl-overlay"></div>
				</form>
			</div>
		</div><!-- /container -->
		<script src="js/nlform.js"></script>
		<script src="javascript/app.js"></script> 
		<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>
</body>
</html>